<div class="container d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-around mx-auto my-auto">
    <%= image_tag 'octacat.png', height: 400 %>
    <div class="flex-grow-1">
      <p>Thank you for using the applicaiton</p>
      <p>We will send you the results soon!</p>
    </div>
  </div>
</div>
